# Copy this file to .env and fill in your values

# Server
PORT=3000
BASE_URL=http://localhost:3000
NODE_ENV=development

# Mongo
MONGO_URI=mongodb://127.0.0.1:27017/url_shortener
# Use a separate DB for testing/seeding, e.g. mongodb://127.0.0.1:27017/url_shortener_test
MONGO_URI_TEST=mongodb://127.0.0.1:27017/url_shortener_test

# Session
SESSION_SECRET=change-this-to-a-long-random-string
